body {
    background-color: $background-color;
    color: $color-text;
    font-family: $primary-font-family;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    &--blue{
        color: #2196f3;
    }
    &--black{

        color:$color-text;
    }
    &--white{
        color: #ffffff;
    }
}
/*site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    color: #212121;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: $focus-color;
    }

}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;

    }
}
.border {
    border: 1px solid #ececec;
}

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item {
    display: flex;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $secondary-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:not(:last-child) {
        margin-right: 30px;
    }
    &:hover,&:focus{
        color: $focus-color;
    }
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
    fill: $focus-color;
}

.contact__icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: $secondary-color;
}